html {
    /* background-image: ; */
    background-repeat: no-repeat;
    background-size: 100%;
    background-color: #FAFAFA;
    height: 100%;
}

.nav-bar {
    display: flex;
    justify-content: flex-end;
    padding-top: 2.9%;
    padding-right: 5%;
}

.nav-item {
    color: #85807A;
    text-decoration: none;
    width: 8%;
    justify-content: center;
    font-family: 'Gideon Roman', cursive;
    font-size: 20px;
    letter-spacing: 5px;
}